body{
  font-family:Courier;
  background-color: #0c2534;
  color: #959;
  margin: 20;
  padding: 100;
}
title {
	color: #5C6AC4;
}
h1 {
  color : #f4f4f4;
}
button{
  color : blue ;
  background-color : violet ;
}
